.card-base {
    font-size: 16px;
    width: $card-width;
    height: $card-height;
    margin: 1rem auto;
    padding: 0;
  
    .card-image {
        height: 224px;
        width: 100%
    }
      
    .card-body {
        position: absolute;
        top: 1rem;
        width: $card-width;
        height: $card-height;
        padding: 224px 24px 0px 24px;
        background-size: 100%;
    }
      
    .card-title {
        @include title-mixin();
        height: 56px;
        margin: 56px 0 24px 0;
    }
      
    .card-description {
    }
}