.card {
    width: 360px;
    height: 504px;
    background-color: grey;
    margin: 1rem auto;
    padding: 0;
    background: url("/assets/DreamCard.png") no-repeat;
    background-size: 100%;
}

.card-title {
    height: 54px;
    margin: 0 auto;
}

.card-image {
    height: 114px;
}

.stat {
    display: inline-block;
    width: 3rem;
}