.card {
    width: 225px;
    height: 350px;
    background-color: grey;
    margin: 1rem auto;
    padding: 25px;
}

.character-stat {
    display: inline-block;
    width: 3rem;
}

.character-stat-Memory::after {
    content: "Memory";
}

.character-stat-Slumber::after {
    content: "Slumber";
}

.character-stat-Lucidity::after {
    content: "Lucidity";
}

.character-stat-Providence::after {
    content: "Providence";
}